.verifybill{
    width: 100%;
    background-color: #eaf0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 这一页面所有标题 */
.title {
    margin-top: 50px;
    font-size: 28px;
}
/* 第一部分软件名 */
.softwarename{
    width: 1200px;
    height: 570px;
}

/* 第一部分主要内容 */
.content{
    width: 100%;
    height: 436px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
/* 第一部分主要内容左边图片 */
.pic{
    height: 100%;
    width: 753px;
    background-image: url('../../assets/images/verifybill-first-part-pic.png');
    background-size: cover;
}
/* 第一部分右边部分 */
.right{
    width: 407px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.righttop_card{
    width: 407px;
    height: 319px;

}
.introduce{
    height: 100%;
    overflow: auto;
}
.introduce::-webkit-scrollbar{
    display: none;
}
.buy_btn{
    width: 100%;
    height: 85px;
}
.btn{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: 28px;
    background-color: #816AFF;
    color: #fff;
    font-weight: 500;
}


/* 第二部分 详细 */
.detail{
    width: 1200px;
    height: 650px;
}
/* 第二部分主要内容 */
.detail_content{
    width: 100%;
    height: 542px;
    margin-top: 20px;
}
.detailcard{
    height: 100%;
    overflow: auto;
}
.detailcard::-webkit-scrollbar{
display: none;
}


/* 第三部分 更新 */
.update{
    width: 1200px;
    height: 450px;
}
.update_content{
    width: 100%;
    height: 322px;
    margin-top: 40px;
    
}
.updatecard{
    height: 100%;
}
.updatelist{
    width: 100%;
    height: 192px;
    /* background-color: red; */
    overflow: auto;
}
.updatelist::-webkit-scrollbar{
    display: none;
}
.update_version{
    font-size: 14px;
    color: #915EFF;
    font-weight: 400;
}
.update_time{
    font-size: 14px;
    font-weight: 400;
    margin-left: 40px;
}
.more{
    color:#8F00FF;
    font-size: 14px;
}
.description{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    /* background-color: red; */
    width: 100%;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.check_btn_box{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.check_btn{
    width: 438px;
    height: 50px;
    border-radius: 42px;
    background-color: #D8D1FF;
    color:#530095;
    border: 0px;
}


/* 第四部分 应用版本 */
.version{
    width: 1200px;
    height: 400px;
}
.version_content{
    margin-top: 26px;
    width: 100%;
    height: 236px;
}
.versioncard{
    height: 100%;

}
.version_cardbox{
    overflow: auto;
    width: 100%;
    height: 200px;
    /* background-color: red; */
}
.version_cardbox::-webkit-scrollbar{
    display: none;
}
.information{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.information span{
display: inline-block;
font-size: 18px;
}
.download_btn{
    width: 92px;height: 34px;
    border-radius: 41px;
    font-size: 16px;
    background-color: #816AFF;
    color: #fff;
}
